<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron text-center">
	 	<h1 style="margin-bottom:15px;">Infoniif - App!</h1>
	 	<h5 class="muted"> La solucion en nube para la administracion de visajes de contadores </h5>
	 	<hr>
	    <div class="row-fluid">
	      <div class="center-block">
	        <%= link_to "Ingresar", new_user_session_path, :class => "btn btn-success" %>
	      </div>
	    </div>
	</div>
  </div>
  
</div>

<div class="row">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	  	<div class="container">
	    	By MovilBrains.inc
		</div>
	</nav>
</div>